/* Page styles */
body{
  font-family: Helvetica, sans-serif;
  background-color: #d3d3d3;
}

/* Page structure */
#camera-container{
  maring-top:20%;
  background-color: #d3d3d3;
}

#drawing-container{
  maring-top:20%;
  background-color: #d3d3d3;
}

/* Canvases */
canvas{
  border-style: solid;
}
